<app-menu-admin></app-menu-admin>
<div class="container">

  <br>
  <h2>Nossos números</h2>

  <div class="card">
    <div class="card-header">Mensagens</div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Cadastradas</th>
              <th>Compartilhadas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Curtas</td>
              <td>48</td>
              <td>28</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Trechos de Obras</td>
              <td>22</td>
              <td>48</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Passagens do Evangelho</td>
              <td>18</td>
              <td>8</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header">Vídeos</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Cadastradas</th>
              <th>Compartilhadas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Diversos</td>
              <td>48</td>
              <td>28</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Canais</td>
              <td>22</td>
              <td>48</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Usuários</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Cadastrados</th>
                  <th>No Mês</th>
                  <th>No Ano</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>150</td>
                  <td>48</td>
                  <td>28</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>

</div>