<nav class="navbar navbar-expand-lg navbar-dark bg-danger justify-content-between">

  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="../">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/conteudo">Conteúdo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/categorias">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/pessoas">Pessoas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/livros">Livros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/usuarios">Usuários</a>
    </li>

  </ul>

  <ul class="navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/adm/meusDados">Meus Dados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./">Sair</a>
    </li>
  </ul>

</nav>