<app-menu-admin></app-menu-admin>
<br>
<div class="row">
  <div class="col">
    <h2>Conteúdo</h2>
  </div>
</div>
<form #catForm="ngForm" (ngSubmit)="salvar()" class="form-horizontal">

  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="form-group">
        <label class="control-label col-sm-2" for="codigo">Codigo:</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="conteudo.codigo" #name="ngModel" disabled>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-7">
      <div class="form-group">
        <label class="control-label col-sm-2" for="titulo">Título:</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="conteudo.titulo" placeholder="Informe o título"
            #name="ngModel" appAutofocus>
          <p [hidden]="name.valid || name.pristine" style="color:red">
            Campo Obrigatório.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="form-group">
        <label class="control-label col-sm-2" for="situacao">Situação:</label>
        <div class="col-sm-12">
          <select class="form-control" id="situacao" name="situacao" [(ngModel)]="conteudo.situacao.codigo" required 
          (change)="onChangeSituacao($event)">
            <option *ngFor="let sit of situacoes" [value]="sit.codigo">{{sit.nome}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col-sm-12 col-lg-9">      
      <div class="form-group">
        <label class="control-label col-sm-2" for="descricao">Descrição:</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="descricao" name="descricao" [(ngModel)]="conteudo.descricao" placeholder="Informe a Descrição"
              #name="ngModel" required rows="10"></textarea>
          <p [hidden]="name.valid || name.pristine" style="color:red">
              Campo Obrigatório.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3">
      <div class="form-group">
        <label class="control-label col-sm-2" for="categoria">Categorias:</label>
        <div class="col-sm-12">

          <ng-select id="categoria" name="categoria" [items]="categorias" 
            placeholder="Selecione" bindLabel="nome" [(ngModel)]="conteudo.categorias" [multiple]="true">
          </ng-select>

        </div>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="form-group">
        <label class="control-label col-sm-2" for="titulo">Tipo:</label>
        <div class="col-sm-12">
          <select class="form-control" id="tipo" name="tipo" [(ngModel)]="conteudo.tipo.codigo" required 
            (change)="onChangeTipo($event)">
            <option *ngFor="let tipo of tipos" [value]="tipo.codigo">{{tipo.nome}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8">  
      <div class="form-group">
        <label class="control-label col-sm-2" for="livro">Livro:</label>
        <div class="col-sm-12">

          <ng-select id="livro" name="livro" [items]="livros" (change)="onChangeLivro($event)"
            placeholder="Selecione" bindLabel="titulo" [(ngModel)]="conteudo.livro">
          </ng-select>

        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" for="autor">Autores:</label>
        <div class="col-sm-12">

          <ng-select id="autor" name="autor" [items]="pessoas" 
            placeholder="Selecione" bindLabel="nome" [(ngModel)]="conteudo.autores" [multiple]="true">
          </ng-select>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" for="espirito">Espírito:</label>
        <div class="col-sm-12">

          <ng-select id="espirito" name="espirito" [items]="pessoas" 
            placeholder="Selecione" bindLabel="nome" [(ngModel)]="conteudo.espirito">
          </ng-select>

        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-outline-dark" (click)="voltar()">Voltar</button>
      <button type="submit" class="btn btn-outline-success" [disabled]="!catForm.form.valid">Salvar</button>
    </div>
  </div>
</form>