# See http://help.github.com/ignore-files/ for more about ignoring files.
/.metadata
/.recommenders
/RemoteSystemsTempFiles
/ce-api/target
/ce-api/.settings
/ce-api/.classpath
/ce-framework/target
/ce-framework/.settings
/ce-framework/.classpath
/ce-interface/target
/ce-interface/.settings
/ce-interface/.classpath
/ce-implementation/target
/ce-implementation/.settings
/ce-implementation/.classpath

